@model List<Brand>
<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Brand</h1>
        </div>
        <div class="col-6 text-end">
            <a type=" button" class="btn btn-primary" asp-area="Admin" asp-controller="Brand" asp-action="Create"><i class="bi bi-plus-circle"></i> Create</a>

        </div>
          

    </div>
    <hr />

    @if (Model.Count() > 0)
    {
        <table id="table" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Established Year</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">@item.Name</td>
                        <td class="text-center">@item.EstablishedYear</td>
                        <td class="d-flex align-items-center justify-content-center">
                            <div class="w-75 btn-group" role="group"  >
                                <a asp-area="Admin" asp-controller="Brand" asp-action="Details" asp-route-id="@item.Id" class="btn btn-info" data-toggle="tooltip"
                                   data-placement="top" title="Details">
                                    <i class="bi bi-info-circle"></i>
                                </a>

                            </div>
                            <div asp-area="Admin" class="w-75 btn-group" role="group">
                                <a asp-controller="Brand" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning" data-toggle="tooltip"
                                   data-placement="top" title="Edit">
                                    <i class="bi bi-pencil-square"></i>
                                </a>

                            </div>
                            <div asp-area="Admin" class="w-75 btn-group" role="group">
                                <a asp-controller="Brand" asp-action="Deleteview" asp-route-id="@item.Id" class="btn btn-danger" data-toggle="tooltip"
                                   data-placement="top" title="Delete">
                                    <i class="bi bi-trash"></i>
                                </a>

                            </div>

                        </td>
                    </tr>

                }
            </tbody>

        </table>
    }
    else
    {
        <div class="container">
            <div class="row">

                <div class="col-12 text-warning text-center text-uppercase">No records to Shown

                </div>
            </div>
        </div>
    }

</div
@section Scripts{
    <script>
        $('.table').DataTable();
    </script>
}